* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@font-face {
    font-family: "Mahaputra";
    src: url("fonts/Mahaputra.ttf") format("truetype");
}

/* font-family: 'Mahaputra', serif; */

body {
    font-family: Arial, Helvetica, sans-serif;
}
section {
    min-height: 100dvh;
    width: 100%;
    overflow-x: hidden;
}
/* nav section */
nav {
    position: relative;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #52788a;
    padding: 0 4rem;
}
nav .logo {
    position: absolute;
    top: 3rem;
    left: 4rem;
    z-index: 10;
    height: 6rem;
}
nav .logo img {
    height: 100%;
    aspect-ratio: 1/1;
    animation: wave-logo 1s ease-in-out infinite alternate;
    transform-origin: left bottom;
}
@keyframes wave-logo {
    from {
        transform: rotate(-55deg);
    }
    to {
        transform: rotate(-35deg);
    }
}
nav .menu {
    position: absolute;
    right: 0.8rem;
    display: flex;
    list-style: none;
    gap: 0.4rem;
    z-index: 10;
}
nav .menu li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 0.4rem;
}
nav .menu li a::after {
    content: "";
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: all 0.3s;
}
nav .menu li:hover a::after {
    width: 100%;
}
/* home section */
.home {
    height: calc(100dvh - 4rem);
    position: relative;
    background-color: #52788a;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2rem;
}
.home .text {
    width: min(550px, 50%);
}
.home .text h1 {
    font-family: "Mahaputra", serif;
    font-size: 2.5rem;
    color: white;
    margin-bottom: 2rem;
}
.home .text p {
    color: #f0f0f0;
    font-size: 1.2rem;
}
.little-krishna {
    width: min(450px, 50%);
    filter: drop-shadow(0 0 20px rgb(8, 51, 71));
}
/* about section */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 1rem;
}
.about .text {
    width: min(400px, 50%);
}
.about .text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.about .text p {
    color: #454545;
    text-align: justify;
}
.about img {
    height: 300px;
    transform: scaleX(-1);
}

/* Stories Section */
.stories {
    background: linear-gradient(45deg,rgb(141, 103, 216), rgb(252, 90, 171));
    display: flex;
    align-items: center;
    padding: 0 2rem;
}
.stories .text h2 {
    font-family: "Mahaputra";
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}
.stories .text ul {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.stories img {
    height: 350px;
    transform: scaleX(-1);
    filter: invert(1) drop-shadow(0 0 23px #dcf);
}

/* footer section */

footer {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
    nav .menu {
        gap: 0;
        right: 50%;
        transform: translateX(50%);
    }
    .nav-text {
        display: none;
    }
    .home {
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding-top: 1rem;
        gap: 1rem;
    }
    .little-krishna {
        height: 300px;
        width: auto;
    }
    .home .text {
        width: 100%;
    }
    .home .text h1 {
        text-align: center;
    }
    .home .text h1 br,
    .home .text p br {
        display: none;
    }
    .home .text p {
        text-align: center;
    }
    .about {
        flex-direction: column;
        justify-content: space-around;
    }
    .about .text {
        width: min(600px, 80%);
    }
    .stories {
        justify-content: center;
        flex-direction: column-reverse;
    }
    .stories .text h2 {
        text-align: center;
    }
    .stories img {
        width: min(350px, 100%);
        height: auto;
    }

    footer {
        font-size: 1rem;
    }
    footer span {
        display: none;
    }
    footer br {
        display: inline-block !important;
    }
}
